main{
  position: absolute;
margin: 0 2000px 0 0;
}
nav{
  top:0;
  left:0;
  height: 20px;
  background-color: blueviolet;
  position: fixed;
  width: 100vw;
  text-align: center;
  z-index: 2;
}
body{
  margin: 0px;
  padding: 0px;
  /* scroll-behavior: smooth; */
} 
html {
  scroll-behavior: smooth;
}
#main { 
  display: block;
  top: 20px; 
  position: fixed;
  left: 0;
}
